root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true

[*.{php,js,mjs,cjs,ts,tsx,vue,css,scss,less,html,htm,sql,json,xml,yml,yaml,md,txt,ini,conf,properties,toml,sh,bat,cmd,ps1}]
charset = utf-8
